.tab {
    align-items: center !important;
    width: 500px !important;
    height: 500px !important;
}

.center {
    text-align: center !important;
}

body {
    background-image: url('https://img.freepik.com/free-photo/close-up-white-marble-texture-background_53876-63512.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1713312000&semt=ais');
    /* background-color: antiquewhite; */
    background-repeat: repeat;
    background-size: cover;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    padding: 3px;
    margin: 3px;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 15px
}

a {
    color: darkgoldenrod;
}

img {
    padding: 3px;
    margin: 3px;
    display: block;
    margin: auto;
    height: 500px;
    width: auto;
    /* display: flex; */
    /* margin-right: 10px; */
}

iframe {
    display: block;
    margin: auto;
}

.tableau-container {
    width: 80% !important;
    align-items: center !important;
    justify-content: center !important;
    display: block;
    margin: auto;
    height: auto;
}

.textbox {
    width: 1000px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

.image-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 20px;
    align-items: center;
}

.ordered-list {
    text-align: left;
    font-weight: bolder;
    font-size: 18px
}

.unordered-list {
    text-align: left;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    padding: 3px;
    margin: 3px;
}